.first__title {
  max-width: 1080px;
}

.first__image-margin {
  max-width: 560px;
  float: left;
  margin-right: 30px;
}

.first__image-padding {
  display: inline-block;
  max-width: 560px;
}

.first__item {
  display: flow-root;
}

.first__item:not(:last-child) {
  margin-bottom: 30px;
}

.first__info {
  display: inline-block;
  max-width: 490px;
}

.first__info_left {
  float: left;
  margin-right: 40px;
}

.first__text {
  max-width: 480px;
}

.first__text:not(:last-child) {
  margin-bottom: 30px;
}

.first__text_wide {
  max-width: 490px;
}

