.header {
  padding: 50px 0 25px;
}

.header__container {
  max-width: 1080px;
  margin: 0 auto;
}

.header__title {
  font-weight: 900;
  font-size: 62px;
  line-height: 73px;
  margin-bottom: 50px;
}

.header__text {
  margin-bottom: 30px;
}