.hero {
  padding: 50px 0 25px;
}

.hero__container {
  max-width: 1084px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 62px;
  line-height: 73px;
  margin-bottom: 50px;
}

.hero__text {
  margin-bottom: 30px;
}