.second__text:not(:last-child) {
  margin-bottom: 30px;
}

.second__image {
  max-width: 602px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.second__image_womargin {
  margin-bottom: 0;
}

.second__figure {
  border: 1px solid #000000;
  margin-bottom: 15px;
}

.second__figure img {
  width: 100%;
}

.second__figcaption {
  padding: 15px 30px;
  color: #5E5E5E;
}

.second__image-nesting {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 967px;
}

.second__image-padding {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1025px;
}
