.third {
  padding-bottom: 50px;
}

.third__container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.third__image-margin {
  max-width: 600px;
  align-self: center;
}

.third__image-womargin {
  margin-top: -5px;
}

.third__image-nav {
  align-self: center;
  max-width: 806px;
}

.third__image-margin-style {
  align-self: center;
  max-width: 317px;
}

.third__image-nomargin-style {
  align-self: center;
  max-width: 500px;
}

.third .conclusion__list {
  margin-bottom: 30px;
}

.third .conclusion__list-item:before {
  content: '— ';
}

.third .conclusion__list {
  padding-left: 0;
}

